# /etc/udev/rules.d/99-power-mode.rules
# trigger the system service on any power_supply change (plug/unplug)
SUBSYSTEM=="power_supply", ACTION=="change", TAG+="systemd", ENV{SYSTEMD_WANTS}="power-mode.service"

