[Unit]
Description=Auto-switch GNOME power profile on boot & resume
After=multi-user.target suspend.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/power-mode-switch.sh

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target

